a, a:hover, a:link, a:visited {
  text-decoration: none !important;
}

body {
  min-width: 340px;
}

img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

td a, td a:link, td a:visited {
  color: darkslategray;
}

td a:hover {
  color: black;
}

.buttonwidth {
  margin-bottom: 10px;
  width: 100%;
}

.canvas {
  height: 500px;
}

.col-md-3 {
  text-align: center;
  justify-content: center;
}

.col-md-9 {
  padding-top: 20px;
}

.display {
  background: #f8f9fa;
  border-radius: 6px;
  margin-top: 30px;
  padding: 50px;
}

.headline {
  display: flex;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}

.link {
  color: lightslategray;
  text-decoration: none;
}

.link:hover {
  color: darkslategray;
  text-decoration: none;
}

.logoutbutton {
  width: 100%;
}

.numvotes {
  color: darkslategray;
  font-size: 14px;
}

.subhead {
  display: flex;
  font-family: 'Questrial', sans-serif;
}

.width {
  width: 80%;
}